{% extends "base.html" %}

{% block head %} 
<title>Semicolon Expected</title>
<div class="top-bar">
    <h1>
        <span class="large">S</span><span class="med">potify</span>
        <span class="large">V</span><span class="med">oice</span>
        <span class="large">C</span><span class="med">ontrol</span>
        <span class="small">by Semicolon Expected</span>
        <span class="edit">
            <div class="dropdown">
                <button>
                    {{ username }}
                </button>
                <div class="content">
                    <form action="/">
                        <input class="signoutpill" button type="submit" value="Sign Out">
                        </button>
                    </form>
                </div>
            </div> 
        </span>
    </h1>
</div>
{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="artists-box">
        <h2>You've been loving these artists recently</h2>
            <ol>
                {% for name in top_artists %}
                <li>{{ name }}</li>
                {% endfor %}
            </ol>
        <br>
        
    </div>
    
    <div class="howToBox">
        <h2>How to Use</h2>
        <ol>
            <li>Install and run ListeningWidget. <a href="https://drive.google.com/uc?export=download&id=1NiOUiJVbxjZSVSVjCyvJyeK_ruGBziiN" target="_blank">(Click Here to Install ListeningWidget)</a></li>
            <li>Open Spotify and play a song.</li>
            <li>Copy your listening token and paste it into ListeningWidget.</li>
            <li>Click "Start Listening" to begin voice control.</li>
            <li>Control Spotify with commands listed.</li>
            <li>Click "Stop Listening" to pause voice control.</li>
        </ol>

    </div>

    <!--Commands -->
    <div class="mycontainer">
            <h2>Commands</h2>
            <ul>
                <li><span class="emphasize">Skip</span> - Skips to the next song</li>
                <li><span class="emphasize">Previous</span> - Skips to previous song</li>
                <li><span class="emphasize">Pause</span> - Pauses playback</li>
                <li><span class="emphasize">Play</span> - Resumes paused playback</li>
                <li><span class="emphasize">Save</span> - Saves currently playing song to liked songs</li>
                <li><span class="emphasize">Remove</span> - Removes the currently selected song from liked songs<br></li>
                <li><span class="emphasize">Volume (25/50/75/max)</span> - Sets volume to one of the four values</li>
                <li><span class="emphasize">Mute</span> - Sets volume to zero</li>
                <li><span class="emphasize">Shuffle</span> - Enables song shuffling</li>
                <li><span class="emphasize">Order</span> - Disables shuffling</li>
                <li><span class="emphasize">Repeat</span> - Enables song repeating</li>
                <li><span class="emphasize">Continue</span> - Disables the loop enabled by the Repeat command</li>
            </ul>
        </p>
    </div>

   <div class="ListeningBox">
    <h2>Listening Token</h2>
        <p class="token-box">{{ token }}</p>
   </div>
    
</div>
{% endblock %}
