{% extends 'base.html' %}

{% block head %}
<div class="head">
    <h1>
        <span class="large">S</span><span class="med">potify</span>
        <span class="large">V</span><span class="med">oice</span>
        <span class="large">C</span><span class="med">ontrol</span>
        <span class="small">by Semicolon Expected</span>
        <form action="/login" method="post">
          <input class="pill" type="submit" value="Log In">
        </form>
        
        <hr style="margin-left:-2em;margin-right:-1em;height:2px;border-width:0;color:#1ED760;background-color:#1ED760;">
        
    </h1>
    
    <h2></h2>
</div>
{% endblock %}

{% block body %}
<div class="homeWrap">
<body>
    <div class="card">
      <h1><span>Control Spotify</span>
        <span style="display: block;"> with<span class="YOUR"> YOUR</span> voice</span></h1>
    </div>
    <div class="desk">
      <p>A Desktop Centered Software</p>
    </div>

</body>
</div>
{% endblock %}